body {
    margin: 0 !important;
    background-color: #868686;
}

.container{
    background-color: hsl(0, 0%, 48%);
    display: grid;
    height: 100vh;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.15fr ;
    grid-template-areas:
    "sidebarHeader sidebarHeader chatHeader chatHeader chatHeader chatHeader"
    "sidebarChats sidebarChats chatWindow chatWindow chatWindow chatWindow"
    "sidebarActionsBar sidebarActionsBar chatActionsBar chatActionsBar chatActionsBar chatActionsBar"
}



#sidebarHeader{
    background-color: #26658f;
    grid-area: sidebarHeader;

}

#sidebarChats{
    background-color: #454646;
    grid-area: sidebarChats;
    overflow: hidden;
    position: relative;
    padding: 5%;
    /* width: 100%; */

}

#sidebarActionsBar{
    background-color: #454646;
    grid-area: sidebarActionsBar;

}

#chatHeader{
    background-color: #85a51b;
    grid-area: chatHeader;

}

#chatWindow{
    background-color: #8c268f;
    grid-area: chatWindow;

}

/* Chat Action Bar */

#chatActionsBar{
    background-color: #268f65;
    grid-area: chatActionsBar;
}

#chatActionsWrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.15fr 0.15fr 0.15fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "chatActionsBarInput chatActionsBarEmotes chatActionsBarAttach chatActionsBarSend";
}


#chatActionsBarInput{
    background-color: #da6a0e;
    grid-area: chatActionsBarInput;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1%;

}

#chatActionsBarEmotes{
    background-color: #da6a0e;
    grid-area: chatActionsBarEmotes;
    float: right;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1%;

}

#chatActionsBarAttach{
    background-color: #da6a0e;
    grid-area: chatActionsBarAttach;
    float: right;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1%;
}

#chatActionsBarSend{
    background-color: #da6a0e;
    grid-area: chatActionsBarSend;
    float: right;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1%;

}

#txtChatBox{
    height: 80%;
    /* font-size:14pt; */
    width: 100%;

}

#btnEmotes{
    margin: 10px;
    height: 70%;
    width: 70%;
}

#btnAttach{
    margin: 10px;
    height: 70%;
    width: 70%;
}
#btnSend{
    margin: 10px;
    height: 70%;
    width: 70%;
}



.chatList{
    /* background-color: hsl(185, 84%, 52%); */
    display: grid;
    margin: 1;
    background:green;
    height: 10%;
    width: 100%;
    /* padding: 5%; */

    /* height: 100%; */
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas:
    "chatImage chatName"
    "chatImage chatLastMessage"
}

.chatImage{
    background-color: #268f65;
    grid-area: chatImage;
    min-width: 50px;
    min-height: 50px;

}

.chatName{
    background-color: #f00303;
    grid-area: chatName;

}

.chatLastMessage{
    background-color: #268f65;
    grid-area: chatLastMessage;

}


@media only screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 4fr 0.5fr 1fr 0fr;
        grid-template-areas:
        "sidebarHeader "
        "chatHeader"
        "chatWindow"
        "chatActionsBar"
        "sidebarActionsBar"
        "sidebarChats";
    }

    #chatList{
        display: block;
        visibility: hidden;
    }
}