<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <title>Collective Messenger</title>

</head>
<body>
<div id="loginRegisterContainer">
    <div id="lrTop"></div>
    <div id="lrLeft"></div>
    <div id="interface">
        <h1 class="text-center">Collective Messenger</h1>

        <h1>Login</h1>
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
        <% } %>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Login</button>
            <br>
            <br>
            <a href="/register">Register</a>
        </form>
    </div>
    <div id="lrRight"></div>
    <div id=" lrBottom"></div>
</div>
</body>
</html>


    