<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <title>Collective Messenger</title>
</head>
<body>
    
    <div id="container">

        <div class="col-md-6 offset-md-2">
            <h1 class="text-center">Welcome <%= name %></h1>
        </div>

    </div>
    <div><button id="createChat" class="showModal">Create Chat</button><button id="addFriend" class="showModal">Add Friend</button></div><br>
    <span id="chatroomNameTop"></span>
    <br>
    <div class="chatWindow" id="chatWindow">
    </div>
    <div id="sendMessage">
        <input type="text" id="message" placeholder="Type a message...">
        <button id="send">Send</button>
    </div>
    <div><span id="sendMessageNotification" class="spanNotification"></span></div>
    <div><h3>Chats</h3></div>

    <div id="chatList"></div>

    
    <!-- <div><button id="newChat">New Chat</button> -->
        <form action="/logout" method="GET">
            <button type="submit">Logout</button>
        </form>
    </div>
    
    <!-- Chat Modal -->
    <div id="createChatModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Create Chat</h2>
            <h2></h2>
        </div>

        <div class="modal-body">
            <br>
            <div>
                <label for="chatName">Chat Name: </label>
                <input type="text" id="chatName" placeholder="Please enter a chat name"></div>
            <br>
            <div id="friendsList">
            </div>
            <br>
            <span id="createChatNotification" class="spanNotification"></span>
        </div>

        <div class="modal-footer">
                <h3>
                <button id="submitCreateChat">Create Chat</button>
            </h3>
        </div>

        </div>
    </div>


    <!-- Add Friend Modal -->
    <div id="addFriendModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Add Friend</h2>
        </div>
        <div class="modal-body">
            <br>
                <div>
                    <label for="friend">Friend Name: </label>
                    <input type="text" name="friend" id="friend" placeholder="Please enter friend name">
                </div>
                
                <br>
                <span id="addFriendNotification" class="spanNotification"></span>
        </form> 
            
        </div>
        <div class="modal-footer">
        <h3> <button id="submitAddFriend">Add Friend</button></h3>
            
        </div>
        </div>
    
    </div>

</body>
</html>



