body {
    margin: 0 !important;
    background-color: #1a6161;
    font-family: Helvetica Neue, Arial , sans-serif
}

#container{
    background-color: #434242;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 10fr 0.1fr ;
    grid-template-areas:
    "sidebarHeader mainHeader mainHeader mainHeader"
    "sidebarUser chatWindow chatWindow chatWindow"
    "sidebarChats chatWindow chatWindow chatWindow"
    "sidebarActionsBar chatActionsBar chatActionsBar chatActionsBar"
}

#loginRegisterContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "lrTop lrTop lrTop"
    "lrLeft interface lrRight"
    "lrBottom lrBottom lrBottom"
}

#interface{
    
    background-color: #206f6f;
    padding: 20px;
    border-radius: 3%;
    grid-area: interface;
    
}

#lrTop{
    grid-area: lrTop;
}

#lrLeft{
    grid-area: lrLeft;
}

#lrRight{
    grid-area: lrRight;
}

#lrBottom{
    grid-area: lrBottom;
}

#mainHeader{
    background-color: #1a6161;
    grid-area: mainHeader;
    padding: 10px;

}

#sidebarHeader{
    background-color: #1a6161;
    grid-area: sidebarHeader;

}

#sidebarUser{
    background-color: #434242;
    grid-area: sidebarUser;
    padding: 10px;
    color: #fefefe;

}

#sidebarChats{
    background-color: #434242;
    grid-area: sidebarChats;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}

#sidebarActionsBar{
    background-color: #434242;
    grid-area: sidebarActionsBar;
    
}

#chatHeader{
    background-color: #85a51b;
    grid-area: chatHeader;

}

#chatWindow{
    padding: 4px;
    background-color: #222222;
    grid-area: chatWindow;
    overflow-y: auto;
    overflow-x: hidden;
}

#chatActionsBar{
    background-color: #1a6161;
    grid-area: chatActionsBar;
}

#logout{
    margin: 5px;
    background-color: #434242 !important;
}

#logout:hover{
    background-color: #716d6d !important;
}

#addFriend{
    float: right;
    margin: 5px;
}

#createChat{
    margin: 5px;;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: #083232;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #083232;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #1a6161;
    border-radius: 2px;
}

/* #loginCont{
    background-color: #1a6161;
    min-width: 25%;
    padding: 20px;
    border-radius: 3%;
} */


.loginRegisterContainer {
    width: 25%;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

#registerCont{
    background-color: #1a6161;
    padding: 20px;
    border-radius: 3%;
}

#chatroomNameTop{
    color: #fefefe;
    width: 100%;

}

.messageContainer{
    color: #fefefe;
    width: 100%;
    display: inline-block;
    
}

#message{
    width: 85%;
    height: 30px;
}

#send{
    width: 13.2%;
    height: 36px;
    float: right;
}

button {
    background-color: #2c7f7f;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  button:hover{
    background-color: #35a7a7;
    cursor: pointer;
  }

.chatContainer{
    width: 100%;
    display: inline-block;
    background-color: #1a6161;
    margin: 1px;
    border-radius: 3px;
}

.chatContainer:hover{
    background-color: #35a7a7;
    cursor: pointer;   
}

.activeChat{
    background-color: #83dcdc;
}

.chat{
    color: azure;
    padding: 3px;
}

.sent{
    width: fit-content;
    float: right;
    background-color: rgb(26, 97, 97);
    border-radius: 5px;
    padding: 10px;
}

.received{
    width: fit-content;
    float: left;
    background-color: rgb(26, 97, 97);
    border-radius: 5px;
    padding: 10px;
}

.spanNotification{
    color: red;
}

/* Modal */

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
  
  /* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: rgb(26, 97, 97);
    color: white;
}
  
  .modal-body {
    padding: 2px 16px;
    height: 400px;
}
  
.modal-footer {
    padding: 2px 16px;
    background-color: rgb(26, 97, 97);
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  @media only screen and (max-width: 650px) {
    #container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.2fr 3fr 0.1fr 2fr 0.1fr;
        grid-template-areas:
        "sidebarHeader "
        "sidebarUser"
        "mainHeader"
        "chatWindow"
        "chatActionsBar"
        "sidebarChats"
        "sidebarActionsBar";
    }
}